---
layout: default
title: Blog
nav_index: 2
index_for: posts
stylesheets:
  - blog.css
---

<h1>Blog posts</h1>

<ul class="post-list">
  {% assign months_of_posts = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}
  {% for month in months_of_posts %}
  <li class="month">
    <h3 class="month__name">{{ month.name }}</h3>
    <ul class="month__posts">
      {% for post in month.items %} 
      <li class="post">
				<div class="post__date">
					<div class="post__date-day">{{ post.date | date: '%-d'}}</div>
					<div class="post__date-month">{{ post.date | date: '%b'}}</div>
				</div>
        <a class="post__title" href="{{ post.url }}">{{ post.title }}</a>
			</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
