<a href="/"><h1>kaine119</h1></a>
<nav id="header__links">
  {% assign sorted_pages = site.pages | sort: "nav_index" %}
  {% for node in sorted_pages %}
    {% if node.name == "404.html" or node.name == "style.scss" %}
      {% continue %}
    {% elsif page.name == node.name or
			 (page.collection != nil and page.collection == node.index_for) %}
      <a class="header__link--selected" href="{{ node.url }}">{{ node.title }}</a>
    {% else %}
      <a href="{{ node.url }}">{{ node.title }}</a>
    {% endif %}

  {% endfor %}
</nav>
