main h1 {
  font-weight: normal;
  font-size: 40pt;
  margin-top: 0px;
  background-color: #eceff4;
  color: #2e3440;
  padding: 10px;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

main .month__name {
	font-size: 20pt;
}

main .post {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2.5em;
}

main .post__date {
	width: 50pt;
	height: 50pt;
	border-radius: 50%;
	background-color: #d8dee5;
	color: #2e3440;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	margin-right: 2em;
	flex-shrink: 0;
}

main .post__date-day {
	font-size: 20pt;
  line-height: 15pt;
}

main a.post__title {
  font-size: 20pt;
  color: #eee;
}