footer {
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border-top: 1px dashed #4c566a;
  height: 10vh;
}

footer a {
  color: #88c0d0;
  text-underline-position: under;
}