header {
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  min-height: 10vh;
  margin: 5px;
}

header > h1 {
  font-size: 32px;
  font-weight: normal;
  color: #d08770;
}

@media screen and (max-width: 550px) {
  header {
    margin-bottom: 20px;
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  #header__links {
    display: flex;
    flex-direction: column;
  }
}

#header__links > a {
  font-size: 14pt;
  background-color: #3b4252;
  color: #eee;
  padding: 5px;
  text-decoration: none;
}

#header__links > a:hover {
  background-color: #434c5e;
}

#header__links > .header__link--selected {
  background-color: #8fbcbb;
  color: #122;
}

#header__links > .header__link--selected:hover {
  background-color: #8fbcbb;
  color: #122;
}
