body {
  background: #2e3440;
  color: #eee;
  margin: 0px;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
}

main {
  min-height: calc(90vh - 20px - 10vh);
  margin-top: 0px;
  padding-top: 10px;
}

main a, main a:visited {
  color: #5e81ac;
  text-underline-position: under;
}

body header, body main, body footer {
  width: 80vw;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

::selection {
  color: #222;
  background: #81a1c1;
}