body {
  background: #2e3440;
  color: #eee;
  margin: 0px;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
}

main a, main a:visited {
  color: #5e81ac;
}

body header, body main, body footer {
  width: 80vw;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

