<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/page.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/header.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/content.css">
  <title>{{ site.title }}</title>
</head>

<body>
  <header>
    {% include header.html %}
  </header>

  <main>
    {{ content }}     
  </main>
  
</body>
</html>

